.AnchorPane{
    -fx-background-color: #DDDEDE;
}
.BtnMenu{
    -fx-background-color: Transparent;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.BtnMenu:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2 ;
}
.BtnRegistro{
    -fx-background-color:  #4DFD73;
    -fx-border-color: #FFA500FF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.BtnRegistro:hover{
    -fx-background-color: #046107;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2 ;
}
.fechas{
    -fx-background-color: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: orange;
}
.BtnOficina{
    -fx-background-color:  transparent;
}
.BtnOficina:hover{
    -fx-background-color:  transparent;
    -fx-border-color: #1eff00;
    -fx-border-width: 3;
}
.BtnOficina:pressed{
    -fx-background-color:  transparent;
    -fx-scale-y: 1;
    -fx-scale-x: 1;
}