.vboxDatos{
    -fx-background-color: #DDDEDE;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.Botones { /*Botones de Confirmar*/
    -fx-background-color:  #4CAF50;
    -fx-border-color: #FFA500FF;
    -fx-text-fill: transparent;
    -fx-pref-width: 49px;
}
.Botones:hover {
    -fx-opacity: 1;
    -fx-background-color: #046107;
    -fx-pref-width: 120px;
    -fx-text-fill: white;
}

.btnSalir{
    -fx-background-color:trasparent;
}
.btnSalir:hover{
    -fx-background-color:trasparent;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.btnSalir:pressed{
    -fx-background-color:trasparent;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}